<!DOCTYPE html>
<html>

<head>
    <title>No definitions found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="ax4">
        <nav class="navbar">
            <a class="navbar-brand" href="/">Oxford Dictionary API</a>
            <form class="form-inline bx1">
                <a href="https://github.com/BugsNotFound/oxfordDictionaryAPI"><i class="fa fa-github fa-2x tx1" aria-hidden="true"></i></a>
                <a href="mailto:himansh.jain1997@gmail.com"><i class="fa fa-envelope-o fa-2x tx1" aria-hidden="true"></i></a>
            </form>
        </nav>
        <section class="tx2">
            <div class="jumbotron">
                <h1 class="display-4">OOPS!</h1>
                <p class="ax1">Sorry pal, we couldn't find definitions for the word you were looking for.</p>
                <hr class="my-4">
                <p>You can try the search again or head to the web instead.</p>
            </div>

            <footer class="ax2 ax5 bx2">
                <i class="fa fa-github fa-2x tx1" aria-hidden="true"></i> <a class="tx8" href="https://github.com/BugsNotFound/oxfordDictionaryAPI"> Github </a>
                <i class="fa fa-envelope-o fa-2x tx1" aria-hidden="true"></i><a class="tx8" href="mailto:himansh.jain1997@gmail.com"> Email </a>
            </footer>
            <br>
    </div>
</body>

</html>